# Amostragem Aleatória Simples
### Subconjunto de uma população, cujos elementos são selecionados de forma aleatória

In [30]:
import pandas as pd
import numpy as np

In [31]:
db = pd.read_csv('dados/iris.csv') # db: população
display(db.shape)
display(db.head())

(150, 5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [32]:
# Gerar números "aleatótios" fixos
np.random.seed(2345)

# amostra = np.random.choice(a=[possibilidades], reposição= , Tamanho= , probabilidade de cada possibilidade=)
# "Sorteie 150 números, 0 ou 1, com reposição, com 70% de chanc de sair 0 e 30% de sair 1"
escolhidos = np.random.choice(a=[0,1], replace=True, size=150, p=[0.7,0.3]) # "ID" para cada linha

In [33]:
amostra = db.loc[escolhidos[escolhidos==1]]
# Cada row recebe seu respectivo valor de amostra em ordem
# Ex.: Amostra[0] é designada para a Row 0; Amostra[1] é designada para a Row 1; Amostra[2] é designada para a Row 2

In [34]:
display(amostra.shape)
display(amostra.head())

(49, 5)

   sepal length  sepal width  petal length  petal width        class
1           4.9          3.0           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa